@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(226, 43%, 10%);
  min-height: 100vh;
}

.container {
  width: 1000px;
  max-width: 90vw;
  height: 450px;
  display: grid;
  grid-template: auto auto / auto auto auto auto;
  grid-template-areas:
    "a1 a2 a3 a4"
    "a1 a5 a6 a7";
  gap: 20px;
}

.container .item2,
.container .item3,
.container .item4,
.container .item5,
.container .item6,
.container .item7 {
  width: 235px;
  height: 215px;
}

.item1 {
  background: hsl(235, 46%, 20%);
  grid-area: a1;
  border-radius: 10px;
  height: 98%;
}

.card .profile {
  background: hsl(246, 80%, 60%);
  width: 100%;
  height: 70%;
  padding: 20px;
  border-radius: 10px;
}

.item1 img {
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-bottom: 20px;
}

.item1 h1 {
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}

.item1 p {
  color: hsl(236, 100%, 87%);
  transition: all 500ms ease;
}

.item1 p:hover {
  color: #fff;
  cursor: pointer;
}

.item1 .menu {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.item2 {
  grid-area: a2;
  border-radius: 10px 10px 10px 10px;
}
.item2 .header {
  background: hsl(15, 100%, 70%);
}

.card .header {
  display: flex;
  justify-content: end;
  height: 20%;
  overflow: hidden;
  padding-right: 20px;
  border-radius: 10px 10px 0 0;
}

.card .header img {
  height: 80px;
  position: relative;
  top: -10px;
}

.card .states {
  height: 80%;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 10px 10px 10px;
  background: hsl(235, 46%, 20%);
  position: relative;
  z-index: 1;
  bottom: 8px;
  transition: all 500ms ease;
}

.card .states:hover {
  background-color: hsl(235, 45%, 61%);
  cursor: pointer;
}

.card .states .num {
  font-size: 40px;
  font-weight: 300;
}

.card .states .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .week {
  color: hsl(236, 100%, 87%);
}

.item3 {
  grid-area: a3;
}

.item3 .header {
  background: hsl(195, 74%, 62%);
}

.item4 {
  grid-area: a4;
}

.item4 .header {
  background: hsl(348, 100%, 68%);
}

.item5 {
  grid-area: a5;
}

.item5 .header {
  background: hsl(145, 58%, 55%);
}

.item6 {
  grid-area: a6;
}

.item6 .header {
  background: hsl(264, 64%, 52%);
}

.item7 {
  grid-area: a7;
}

.item7 .header {
  background: hsl(43, 84%, 65%);
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    /* background: green; */
  }
  .item1 {
    height: 100%;
  }
  .item1 .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .item1 h1,
  .item1 img {
    margin: 0;
    font-size: 28px;
  }

  .item1 .menu {
    flex-direction: row;
    padding-bottom: 50px;
  }

  .container .item2,
  .container .item3,
  .container .item4,
  .container .item5,
  .container .item6,
  .container .item7 {
    width: 100%;
  }

  .week {
    position: absolute;
    top: 66%;
    right: 20px;
  }
}
