@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(226, 43%, 10%);
  min-height: 100vh;
}

.container {
  /* background: red; */
  width: 1000px;
  max-width: 90vw;
  height: 450px;
  display: grid;
  grid-template: auto auto / auto auto auto auto;
  grid-template-areas:
    "a1 a2 a3 a4"
    "a1 a5 a6 a7";
  gap: 20px;
}

.container .card {
  width: 235px;
  height: 100%;
}

.item1 {
  background: hsl(235, 46%, 20%);
  grid-area: a1;
  border-radius: 10px;
}

.card .profile {
  background: hsl(235, 45%, 61%);
  width: 100%;
  height: 70%;
  padding: 20px;
  border-radius: 10px;
}

.item1 img {
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-bottom: 20px;
}

.item1 h1 {
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}

.item1 p {
  color: hsl(236, 100%, 87%);
}

.card .menu {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

/* .card .menu p{
    margin-top:15px;
} */

.item2 {
  background: purple;
  grid-area: a2;
}

.item3 {
  background: black;
  grid-area: a3;
}

.item4 {
  background: orange;
  grid-area: a4;
}

.item5 {
  background: blue;
  grid-area: a5;
}

.item6 {
  background: olivedrab;
  grid-area: a6;
}

.item7 {
  background: pink;
  grid-area: a7;
}
